.explore-footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;

    .w-p95{
        display: flex;
        justify-content: space-between;
        .left.flex{
            p{
                font-size: 12px;
            }
        }

        .right{
            .footer-shorcut{
                color: var(--darkFontColor);
                margin-left: 10px;
                font-size: 13px;
            }
        }
    }
}