.list-problem-bloc {
  color: var(--darkFontColor);
  // height: auto;
  // margin: 100px auto;
  background-image: url("../../../../../../assets/branding/background/EDS_point_white.png");
  background-color: var(--backgroundColor);
  width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  gap: 10px;

  .drawcat-contenaire {
    width: 100px;
  }

  .listpbm {
    width: 80vw;
    background-image: url("../../../../../../assets/branding/img/bg_blur_2.png");
    background-size: 1300px;
    background-position: -100px 100px;
    background-repeat: no-repeat;
    .section-list-problem:nth-child(2n + 1) {
      display: flex;
      gap: 20px;
      width: 100%;
      margin: 100px auto;
      position: relative;
      height: auto;

      .img-container-list-problem {
        position: sticky;
        top: 50px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          border-radius: 20px;
          transform: rotate(-5deg);
          transform-origin: bottom;
          position: relative;
          left: 180px;
          animation: 5s float_Animation3 infinite ease-in-out;
          box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
          z-index: 10;
        }

        .card_behind {
          box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
          border-radius: 20px;
          height: 500px;
          background-image: url("../../../../../../assets/branding/img/pexels-veerasak-piyawatanakul-1170187.jpg");
          background-size: cover;
          -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
          width: 400px;
          animation: 5s float_Animation4 infinite;
          animation-delay: 2s;
          transform: rotate(5deg);
          position: relative;
          z-index: 5;
          right: 240px;
        }
      }
      .message-content-list-problem {
        height: 140vh;
        width: 600px;
        position: relative;
        // background-color: red;
        left: -180px;
        display: flex;
        margin-left: 0px;
        justify-content: center;
        align-items: center;

        p {
          font: 13px;
        }

        .title {
          display: flex;
          width: 400px;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
          background: linear-gradient(
            295deg,
            rgba(121, 58, 180, 1) 0%,
            rgba(69, 109, 252, 1) 100%
          );
          -webkit-background-clip: text;
          background-clip: text;

          h1 {
            font-size: 70px;
            width: 100%;
            line-height: 60px;
            font-weight: 400;
            // font-family: "Monument";
            // background: linear-gradient(
            //   295deg,
            //   rgba(121, 58, 180, 1) 0%,
            //   rgba(69, 109, 252, 1) 100%
            // );
            // -webkit-background-clip: text;
            // background-clip: text;
            // color: transparent;

            span {
              font-size: 20px;
              padding: 0px 20px;
              color: #fff;
              border-radius: 10px;
              // font-family: "Monument";
              background-color: var(--primaryColor);
            }
          }

          p {
            width: 50%;
            font-size: 12px;
            padding: 10px;
            border-bottom: 1px solid var(--darkFontColor);
          }
        }
      }
    }
    .section-list-problem:nth-child(2n + 2) {
      display: flex;
      gap: 60px;
      background-image: url("../../../../../../assets/branding/img/bg_blur_2.png");
      // width: 400px;
      margin: 100px 0px;
      height: auto;
      flex-direction: row-reverse;

      .img-container-list-problem {
        position: sticky;
        top: 50px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          transform: rotate(5deg);
          margin-left: -400px;
          box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
          border-radius: 20px;
          position: relative;
          z-index: 5;
          left: 400px;
          animation: 5s float_Animation3 infinite ease-in-out;
        }

        .card_behind {
          box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
          border-radius: 20px;
          height: 500px;
          background-image: url("../../../../../../assets/branding/img/pexels-andrea-piacquadio-3755761.jpg");
          background-size: cover;
          -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
          width: 450px;
          animation: 5s float_Animation4 infinite;
          animation-delay: 2s;
          transform: rotate(5deg);
          position: relative;
          z-index: 4;
          left: 0px;
        }
      }
      .message-content-list-problem {
        height: 140vh;
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
          font: 13px;
        }

        .title {
          display: flex;
          width: 400px;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
          background: linear-gradient(
            295deg,
            rgba(121, 58, 180, 1) 0%,
            rgba(69, 109, 252, 1) 100%
          );
          -webkit-background-clip: text;
          background-clip: text;

          h1 {
            font-size: 70px;
            width: 100%;
            line-height: 60px;
            font-weight: 400;
            // font-family: "Monument";
            // background: linear-gradient(
            //   295deg,
            //   rgba(121, 58, 180, 1) 0%,
            //   rgba(69, 109, 252, 1) 100%
            // );
            // -webkit-background-clip: text;
            // background-clip: text;
            // color: transparent;

            span {
              font-size: 20px;
              padding: 0px 20px;
              color: #fff;
              border-radius: 10px;
              // font-family: "Monument";
              background-color: var(--primaryColor);
            }
          }

          p {
            width: 50%;
            font-size: 12px;
            padding: 10px;
            text-align: justify;
            border-bottom: 1px solid var(--darkFontColor);
          }
        }
      }
    }
  }
}
