.CardNotification-bloc {
  background-color: var(--primaryColor);
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--fillInput);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 10px 10px;
  height: 100px;
  overflow: hidden;
  position: relative;

  .Titre {
    font-size: 24px;
    font-weight: 600;
  }

  .btn-close {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.4s;
    cursor: pointer;

    &:hover{
      transform: scale(1.05) translateY(-30%);
      cursor: pointer;
    }

    button {
      width: 40px;
      height: 40px;
      color: #fff;
      font-size: 22px;
      border-radius: 100%;
    }
  }
}
