.perspective-bloc {
  display: flex;
  height: 100vh;
  flex-direction: row;

  .Title {
    width: 50%;
    color: var(--darkFontColor);
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url('../../../../../../assets/branding/svg/shape-5.svg');
    background-size: 700px;
    background-repeat: no-repeat;

    div {
      position: relative;
      left: 200px;
      top: 50px;

      h1 {
        font-size: 50px;
        color: transparent;
        background-image: var(--linearColor1);
        background-clip: text;
      }
      .p1 {
        font-size: 32px;
      }
      .exploreBtn {
        display: block;
        width: 200px;
        text-align: center;
        padding: 10px 0px;
        border: 1px solid var(--darkFontColor);
        border-radius: 9999px;
        background-image: linear-gradient(
          to right,
          transparent 50%,
          rgb(189, 15, 163) 50%,
          rgb(91, 31, 194)
        );
        background-size: 200%;
        background: transparent;
        color: var(--darkFontColor);
        font-size: 24px;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        margin: 30px 0px;
        &:hover {
          background-image: linear-gradient(
            to right,
            transparent 50%,
            rgb(189, 15, 163) 50%,
            rgb(91, 31, 194)
          );
          background-size: 200%;
          color: #fff;
          background-position: 100%;
          border: 1px solid var(--primaryColor);
        }
      }
    }
  }
  .containner {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
