.headbar-content{
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headbar-content svg{
    width: 28px;
    height: 28px;
    cursor: pointer;
    opacity: 0.6;
    stroke: var(--darkFontColor);
    /* background-color: green; */
    margin-right: 12px;
    /* padding: 4px; */
    transition: 0.4s ease;
    border-radius: 10px;
    /* background-color: var(--greyColor); */
}

.avatar {
    margin: 0px 15px 0px 10px;
    // background-color: var(--primaryColor);
    border-radius: 20px;
    width: 40px;
    // height: 40px;
    font-size: 7px;
  }

.headbar-content .right-icon:hover{
    opacity: 1;
    /* fill: var(--primaryColor); */
    background-color: var(--fillInput);
    padding: 4px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.09);
}

.searchBar .search-content, .searchBar .search-content .searchImage{
    display: flex;
    align-items: center;
}

.searchBar .search-content{
    background-color: var(--fillInput);
    padding: 7px;
    border-radius: 50px;
}

.searchBar .search-content svg{
    padding: 3px;
}

.searchBar .search-content input{
    background-color: transparent;
    border: none;
    padding: 5px;
    font-size: 13px;
    margin-left: -4px;
    color: var(--darkFontColor);
    outline: none;
}

.headbar-content .separator{
    height: 22px;
    width: 2px;
    opacity: 0.3;
    margin-right: 5px;
    background-color: var(--darkFontColor);
    border-radius: 20px;
}

.headbar-content .separator2{
    height: 20px;
    width: 2px;
    opacity: 0.3;
    /* margin-top: 9px; */
    margin-right: 5px;
    background-color: var(--darkFontColor);
    border-radius: 20px;
}

.searchBar .search-content .searchImage{
    border: 2px dotted transparent;
    transition: 0.3s ease;
    margin-right: 10px;
    border-radius: 5px;
    padding: 1px 5px;
}

.headbar-content .headIcon{
    display: flex;
    align-items: center;
}

.searchBar .search-content .searchImage:hover{
    border: 2px dotted var(--darkFontColor);
    cursor: pointer;
    background-color: var(--darkColorTransparent);
}

.searchBar .search-content .searchImage span{
    font-size: 12px;
    margin-top: 4px;
    color: var(--darkFontColor);
}

.headbar-content .mode-btn{
    display: flex;
    padding: 0px;
    align-items: center;
}

.headbar-content .VoiceNavigation{
    margin-top: 3px;
}

.headbar-content .usercard{
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: var(--darkFontColor);
}

.headbar-content .usercard .userAvatar{
    width: 40px;
    height: 40px;
    background-image: url('../../../../assets/image/sirius/LogoSirius.png');
    border: 1px solid var(--darkColorTransparent);
    background-size: cover;
    margin-right: 5px;
    border-radius: 50px;
}

.headbar-content .usercard .userInfo{
    display: flex;
    flex-direction: column;
}

.headbar-content .usercard .userInfo h4{
    font-weight: 600;
    font-size: 14px;
}

.headbar-content .usercard .userInfo .role{
    font-size: 12px;
    opacity: 0.7;
}