.resetPassword_container{
    height: 76vh;
    width: 100vw;
    background-image: url('../../../assets/image/background/backParticule.png');
    background-size: cover;
}

.email_verify{
    width: 100%;
    margin-top: 20px;
}

.email_verify input{
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--fillInput);
    margin-bottom: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
}

.error_message{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--dangerColor);
    width: 50%;
    color: #fff;
    margin: 20px auto;

}

.resetPassword_item{
    width: 60%;
    height: 100%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;

    small{
        color: var(--darkFontColor);
    }
}

.resetPassword_illustration{
    background-color: transparent;
    width: 80%;
}

.resetPassword_text{
    margin-bottom: 30px;
    color: var(--darkFontColor);
    opacity: .6;
    font-size: 13px;
}

.resetPassword_title{
    color: var(--darkFontColor);
}

.resetPassword-btn{
    /* margin-top: 20px; */
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    background-color: var(--primaryColor);
    padding: 13px 30px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.reset-btn{
    /* margin-top: 20px; */
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    background-color: var(--primaryColor);
    padding: 13px 30px;
    border-radius: 40px;
    margin-top:30px;
    cursor: pointer;
    transition: .3s ease-in-out;
    border: none;
}

.resetPassword-btn:hover{
    background-color: var(--color1);
}


@media screen and (max-width: 600px){
    .resetPassword_Illustration{
        width: 200px;
    }

    .resetPassword-btn{
        transition: .3s ease-in-out;
    }

    .resetPassword_text{
        font-size: 8px;
    }
    
}

@media screen and (max-width: 450px){
    .resetPassword_Illustration{
        width: 100px;
    }

    .resetPassword-btn{
        font-size: 7px;
    }
    
}