
/* FOOTER */
.foot_container{
    color: #fff;
    background-color: #101621;
    z-index: 50;
    box-shadow: 2px 5px 9px rgba(0, 0, 0, 0.08);
}

.foot_container .Gif_content{
    height: 300px;
    background-size: cover;
    background-position: 0px;
    border-radius: 10px;
}

.modalTerm{
    color: var(--darkFontColor);
}

.foot_content{
    width: 85%;
    padding: 23px 0px;
    display: flex;
    justify-content: space-between;
}

.foot_content, .foot-bottom{
    display: flex;
    margin: 0px auto;
}

.foot_content .leftside{
    padding: 25px 0px;
    width: 20%;
}

.foot_content .leftside p, .foot_content .leftside small{
    color: #fff;
}

.foot_content .rightside{
    display: flex;
    /* flex-wrap: wrap; */
    padding: 25px;
    width: 70%;
}

.foot_content .rightside .part{
    width: 50%;
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    text-align: left;
}

.foot_content .leftside p{
    font-size: 11px;
    opacity: 0.75;
    margin-bottom: 20px;
    text-align: justify;
}

.foot_content .rightside h5{
    font-size: 14px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--whiteColorTransparent);
}

.foot_content .rightside .raccourci{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 12px;
}

.foot_content .rightside .raccourci a{
    margin-bottom: 10px;
    opacity: 0.7;
    color: #fff;
    transition: .4s ease;
}

.foot_content .rightside .raccourci a:hover{
    opacity: 1;
    font-weight: 700;
}

.foot_container .foot-shorcut{
    border-top: none;
    padding: 20px 60px;
    font-size: 12px;
    justify-content: space-between;
    font-weight: 400;
}

.foot_container .foot-shorcut .shorcut-link{
    margin-left: 15px;
    opacity: 0.8;
}

.foot_container .foot-bottom{
    border-top: 2px solid var(--darkColorTransparent);
    background-color: var(--primaryColor);
    padding: 12px 60px;
    justify-content: space-between;
    font-weight: 400;
}

.foot-bottom small{
    opacity: 0.8;
}

.foot-bottom .juridic-btn{
    font-size: 12px;
    margin-right: 10px;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}

.foot-bottom .juridic-btn:hover{
    opacity: 1;
}

@media screen and (max-width: 770px){
    .foot_content{
        flex-direction: column;
    }
    
    .foot_content .leftside, .foot_content .rightside{
        width: 100%;
        padding: 0px;
    }

    .foot_content .rightside{
        /* display: block; */
        flex-wrap: wrap;
    }

    .foot_content .rightside .part{
        text-align: left;
        padding: 0px;
        width: 100%
    }

    .foot_content .rightside .raccourci{
        text-align: left;
        margin-left: 10px
    }

    .foot-bottom, .foot-bottom .juridic-btn{
        display: flex;
        opacity: 1;
        text-align: center;
        flex-direction: column;
    }
    
    .foot-bottom .juridic-btn{
        margin-top: 10px;
    }

    .foot_container .foot-shorcut{
        padding: 10px 20px;
        display: none;
    }

    .foot_container .foot-bottom{
        padding: 10px 10px;
    }

}