.super-global-container.contact{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url('../../../../../../assets/branding/img/bg_blur_dark_large.png');
    background-color: var(--backgroundColor);
    color: var(--darFontColor);

    .side-50{
        color: var(--darkFontColor);
        
        p{
            margin-top: 10px;
        }

        h1{
            
        }
    }

    .top{
        display: flex;
        justify-content: space-between;
        .contact-input{
            background-color: var(--fillInput);
            border-radius: 30px;
            border: none;
            width: 32%;
            padding: 13px 30px;
            color: var(--darkFontColor);
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
        }
    }

    .bottom{
        textarea{
            background-color: var(--fillInput);
            border-radius: 30px;
            border: none;
            margin-top: 15px;
            height: 250px;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
            max-height: 250px;
            min-height: 250px;
            padding: 30px;
            color: var(--darkFontColor);
            width: 100%;
            max-width: 100%;
            min-width: 100%;
        }
    }
}